

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>reg</title>
</head>
<body>
    @Html.ActionLink("home", "Index", "home")
    @Html.ActionLink("new user", "reg", "home")
    <form>
     empid    :   <input type="text" id="tb1" /><br /><br />
     emp name :  <input type="text" id="tb2" /><br /><br />
     empsalary:<input type="text" id="tb3" /><br /><br />
        <input type="button" id="bt1" value="submit" />
    </form>
    <div> 
    </div>

</body>
</html>
